/* raleway-100 - latin-ext_latin */
@font-face {
  font-display: fallback;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100;
  src: local("Raleway Thin"), local("Raleway-Thin"),
    url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-100.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-100.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-100italic - latin-ext_latin */
@font-face {
  font-display: fallback;
  font-family: "Raleway";
  font-style: italic;
  font-weight: 100;
  src: local("Raleway Thin Italic"), local("Raleway-ThinItalic"),
    url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-100italic.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-100italic.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-200 - latin-ext_latin */
@font-face {
  font-display: fallback;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 200;
  src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"),
    url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-200.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-200.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-200italic - latin-ext_latin */
@font-face {
  font-display: fallback;
  font-family: "Raleway";
  font-style: italic;
  font-weight: 200;
  src: local("Raleway ExtraLight Italic"), local("Raleway-ExtraLightItalic"),
    url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-200italic.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-200italic.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-300italic - latin-ext_latin */
@font-face {
  font-display: fallback;
  font-family: "Raleway";
  font-style: italic;
  font-weight: 300;
  src: local("Raleway Light Italic"), local("Raleway-LightItalic"),
    url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-300italic.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-300italic.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-300 - latin-ext_latin */
@font-face {
  font-display: fallback;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: local("Raleway Light"), local("Raleway-Light"),
    url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-300.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-300.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-regular - latin-ext_latin */
@font-face {
  font-display: fallback;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"),
    url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-500 - latin-ext_latin */
@font-face {
  font-display: fallback;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: local("Raleway Medium"), local("Raleway-Medium"),
    url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-500.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-500.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-italic - latin-ext_latin */
@font-face {
  font-display: fallback;
  font-family: "Raleway";
  font-style: italic;
  font-weight: 400;
  src: local("Raleway Italic"), local("Raleway-Italic"),
    url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-italic.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-italic.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-500italic - latin-ext_latin */
@font-face {
  font-display: fallback;
  font-family: "Raleway";
  font-style: italic;
  font-weight: 500;
  src: local("Raleway Medium Italic"), local("Raleway-MediumItalic"),
    url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-500italic.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-500italic.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-600italic - latin-ext_latin */
@font-face {
  font-display: fallback;
  font-family: "Raleway";
  font-style: italic;
  font-weight: 600;
  src: local("Raleway SemiBold Italic"), local("Raleway-SemiBoldItalic"),
    url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-600italic.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-600italic.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin-ext_latin */
@font-face {
  font-display: fallback;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local("Raleway Bold"), local("Raleway-Bold"),
    url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-700.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-700.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-600 - latin-ext_latin */
@font-face {
  font-display: fallback;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"),
    url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-600.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-600.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700italic - latin-ext_latin */
@font-face {
  font-display: fallback;
  font-family: "Raleway";
  font-style: italic;
  font-weight: 700;
  src: local("Raleway Bold Italic"), local("Raleway-BoldItalic"),
    url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-700italic.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-700italic.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-800 - latin-ext_latin */
@font-face {
  font-display: fallback;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: local("Raleway ExtraBold"), local("Raleway-ExtraBold"),
    url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-800.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-800.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-800italic - latin-ext_latin */
@font-face {
  font-display: fallback;
  font-family: "Raleway";
  font-style: italic;
  font-weight: 800;
  src: local("Raleway ExtraBold Italic"), local("Raleway-ExtraBoldItalic"),
    url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-800italic.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-800italic.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-900 - latin-ext_latin */
@font-face {
  font-display: fallback;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  src: local("Raleway Black"), local("Raleway-Black"),
    url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-900.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-900.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-900italic - latin-ext_latin */
@font-face {
  font-display: fallback;
  font-family: "Raleway";
  font-style: italic;
  font-weight: 900;
  src: local("Raleway Black Italic"), local("Raleway-BlackItalic"),
    url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-900italic.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/raleway-v13/raleway-v13-latin-ext_latin-900italic.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
