@import "fonts.css";
@import "variables.scss";
@import "bulma/bulma.sass";

body {
  // Responsive wrap fallback
  max-width: 100vw;
  overflow-x: hidden;
  // Footer at viewport bottom
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > footer {
    margin-top: auto;
  }
}

.has-radius-padding {
  padding: $radius;
}

.is-emphatic-underline {
  border-bottom-size: 4px;
  border-bottom-style: solid;
  border-bottom-color: $black;

  &.is-primary {
    border-bottom-color: $primary;
  }
}

.svg-container svg,
.icon svg {
  fill: currentColor;
  height: 1em;
}

.has-colored-svg svg {
  fill: currentColor;
}

.input:valid:not(:placeholder-shown) ~ .validator-icon {
  color: $success !important;
}

.input:invalid:not(:placeholder-shown) ~ .validator-icon {
  visibility: hidden;
}

.has-text-break-all {
  word-break: break-all;
}

.is-monochrome {
  filter: grayscale(1);
}

.is-pullquote {
  margin: 0 0 1rem 2rem;
  max-width: 100%;
  width: 20rem;

  @media (max-width: 1024px) {
    width: 100%;
    margin: 1rem auto;
  }
}

.section {
  &.is-top {
    padding-bottom: 0;
  }

  &.is-bottom {
    padding-top: 0;
  }
}

.tile {
  &.is-top {
    padding-bottom: 0;
  }
  &.is-bottom {
    padding-top: 0;
    margin-top: -$tile-spacing;
  }
  &.is-top-tablet {
    @media screen and (max-width: $tablet) {
      padding-bottom: 0;
    }
  }
  &.is-bottom-tablet {
    @media screen and (max-width: $tablet) {
      padding-top: 0;
    }
  }
}

.hover-underline:hover {
  text-decoration: underline;
}

.related li {
  list-style: inside square;
}

.is-margin-centered {
  margin-left: auto;
  margin-right: auto;
}

$margin-sizes: (
  "-thin": 0.5rem,
  "-medium": 0.75rem,
  "": 1.5rem,
  "-thick": 3rem
);

@each $dir in ("top", "bottom") {
  @each $name, $size in $margin-sizes {
    .has-margin-#{$dir}#{$name} {
      margin-#{$dir}: $size;
    }
  }
}

.has-margin-top-negative {
  margin-top: $subtitle-negative-margin;
}

.has-margin-top-negative-medium {
  margin-top: $subtitle-negative-margin + 0.55rem;
}

.has-margin-top-thin-tablet {
  @media screen and (max-width: $tablet) {
    margin-top: 0.5rem;
  }
}

.tag {
  &.is-square {
    border-radius: 0;
  }

  &.is-outline {
    background-color: $white;
    border-color: $black;
    border-style: solid;
    border-width: 2px;
    color: $black;
  }
}

.v-middle {
  vertical-align: middle;
}

.max-12r {
  max-width: 12rem;
}

.max-50 {
  width: 100%;

  @media screen and (min-width: $tablet) {
    max-width: 50vw;
  }
}

.is-single-spaced {
  line-height: 1.25;
}

.is-full-bleed {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100vw;
}

.container-hp {
  max-width: $fullhd - $container-offset;

  @media screen and (min-width: $desktop) {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.supporters-list {
  ul {
    margin: 0;
    padding: 0;

    @media screen and (min-width: $desktop) {
      columns: 2;
    }
    @media screen and (min-width: $fullhd) {
      columns: 3;
    }
  }

  li {
    list-style: none;
  }
}

.promo img {
  width: 75vw;
  @media screen and (min-width: $tablet) {
    width: 20vw;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.will-expand {
  will-change: height;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.expand-enter-active,
.expand-leave-active {
  transition: height 1s ease-in-out;
  overflow: hidden;
}

.expand-enter,
.expand-leave-to {
  height: 0;
}

.is-size-0 {
  font-size: 5rem;
}

.form-container {
  max-width: $tablet;
  margin: 0 auto;
}

.is-vertical > .tile {
  /* autoprefixer: off */
  -ms-flex-preferred-size: auto; /* IE 11 fix */
}
