name: Go
on: [push]
permissions:
  contents: read
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "stable"
      - name: Download modules
        run: go mod download
      - name: Check go.mod
        run: go mod tidy -diff
      - name: Test
        run: ./run.sh test:backend
