name: vuln

permissions: read-all

on:
  workflow_dispatch:
  push:
  schedule:
  - cron: '0 10 * * 1'

jobs:
  run:
    name: Vuln
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      fail-fast: true
      matrix:
        go: ['1.22.x']

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
          check-latest: true

      - name: Install `govulncheck`
        run: go install golang.org/x/vuln/cmd/govulncheck@latest

      - name: Run `govulncheck`
        run: govulncheck ./...
