name: Node CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: yarn install
        run: yarn
        env:
          CI: true
      - name: yarn test
        run: ./run.sh test:frontend
        env:
          CI: true
      - name: yarn build
        run: ./run.sh build:frontend
        env:
          CI: true
